@media (max-width: 655px) {
    .main {
        margin: 0 auto;
    }

    .img img {
        width: 140px;
    }

    .main .botoes {
        width: 300px;
    }
    
    .main .botoes button {
        width: 130px;
        font-size: 14px;
    }

    .alternador img {
        width: 130px;
    }

    .botoes div {
        margin: 0 auto;
    }

    .botoes {
        max-width: 400px;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }
}